body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(pink, violet);
}

section {
    display: flex;
}

span {
    display: inline-block;
}

img {
    max-width: 100%;
}


/* =====start main css====== */

section {
    position: relative;
}

.audio_wrapper {
    width: 400px !important;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    /* padding-bottom: 0; */
}

.top_bar {
    text-align: center;
    padding: 18px 0;
    font-size: 22px;
}

.playing_img_wrapper {
    height: 260px;
    overflow: hidden;
    border-radius: 5px;
}

.playing_img_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio_timer {
    display: flex;
    justify-content: space-between;
}

.song_name {
    margin: 16px 10px 0;
    font-size: 26px;
}

.song_aritest {
    font-size: 20px;
    margin-bottom: 10px;
}

.audio_bar_wrapper {
    height: 6px;
    background-color: #ddd;
    position: relative;
}

.audio_progress {
    height: 6px;
    background-color: lawngreen;
    width: 0;
    position: relative;
}

.audio_progress::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 98%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: lightslategray;
}

.audio_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.audio_play_wrapper {
    height: 60px;
    width: 60px;
    text-align: center;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
}

.material-icons {
    font-size: 40px !important;
    background: linear-gradient(pink, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.audio_list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 240px;
    overflow-y: auto;
}

.audio_list li:hover {
    cursor: pointer;
}

.audio_list_top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.audio_list_wrapper {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    list-style: none;
    position: absolute;
    left: 0;
    width: 91%;
    background: #fff;
    padding: 0 20px;
    margin-top: 25px;
    margin-top: 300px;
    transition: 0.3s;
}

.material-icons:hover {
    cursor: pointer;
}

.playing_active {
    color: green;
}

.audio_total_time {
    padding-right: 24px;
}

.audio_list li span {
    font-size: 24px;
}

.audio_list li p {
    font-size: 20px;
}

.audio_list li {
    padding: 8px 0;
    padding-right: 0px;
    border-bottom: 1px solid #ddd;
    line-height: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 31px;
    align-items: center;
}

.volume {
    transform: rotate(270deg);
    position: absolute;
    left: 100%;
    top: 51%;
}


/* =====end main css====== */